.Title {
    font-size: 40px;
    color: white;
}
h1 {
    font-size: 150px;
    text-align: center;
    color: white;
}
.box {
    margin-top: -200px;
}
.boton {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.btn {
    width: 60px;
    height: 60px;
    font-size: 50px;
    border-radius: 50%;
    background: none;
    border-color: white;
    margin: 30px;
    cursor: pointer;
    align-items: center;
    text-align: center;
}
.BotR {
    width: 100px;
    height: 60px;
    cursor: pointer;
    font-size: 30px;
    border: none;
    background: none;
}